html {
    background-color: rgb(245, 245, 220);
}
#selection-container {
    display: flex;
    justify-content: space-evenly;
}
#fade-in > p{
    color: rgba(131, 50, 50, 0.911);
    text-shadow: -1px 2px rgb(196, 117, 44);
    font-size: xx-large;
    text-align: center;
}
.btn{
    font-size: 40px;
    color: rgba(131, 50, 50, 0.911);
}
/* #select-btn {
    
} */
